@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

:root {
  --color-purple: #641ea0;
  --color-blue: #325e98;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, Roboto, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: linear-gradient(
    90deg,
    var(--color-purple) 0%,
    var(--color-blue) 100%
  );
  background-attachment: fixed;
  color: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
